* {
    -color-background: #1c1c1c;
    -color-primary: #556b2f;
    -color-secondary: #3a3f2d;
    -color-accent: #6c5e2e;
    -color-highlight: #b07d48;
    -color-text: #eeeeee;
    -color-text-inverse: #000000;
    -color-error: #ff6b6b;
    -color-light: #a0bd6e;
    -color-dark: #3ca42e;
}
