* {
    -color-background: #fefae0;
    -color-primary: #ccd5ae;
    -color-secondary: #e9edc9;
    -color-accent: #faedcd;
    -color-highlight: #d4a373;
    -color-text: #000000;
    -color-text-inverse: #ffffff;
    -color-error: #d9534f;
    -color-light: #fffdf0;
    -color-dark: #f0eac2;
}